$colorDark: #313131;
$colorLight: #ff7b0f;

.account{
    
    .account-details{
        height: 200px;
        width: 100%;
        border: 1px solid $colorLight;
        border-radius: 6px;
        overflow: hidden;
    }

    .account-image{
        width: 200px;
        height: 200px;
        background-color: lighten($color: $colorDark, $amount: 10);
        float: left;
        text-align: center;
        line-height: 200px;
    }

    .account-description{
        padding: 20px;
        float: left;
        height: 200px;
        max-width: calc(100% - 240px);
    }

    .account-addresses{
        margin-top: 20px;
    }

    a{
        display: inline-block;
        grid-row: 3;
        padding: 10px;
        font-size: 18px;
        background-color: $colorDark;
        color: $colorLight;
        border-radius: 4px;
        border: 2px solid $colorLight;
        text-decoration: none;
        margin-bottom: 20px; 

        &:hover{
            background-color: lighten($color: ($colorDark), $amount: 10);
        }

        &:active{
            background-color: lighten($color: ($colorDark), $amount: 20);
        }
    }
}